



*{
    margin:0px;
    padding:0px;
}
/* body{
    background-image: url('/images/bg-2mRdDf.webp');
} */




.main-container1{
    /* border:2px solid red; */
    height:70vh;
    /* width:100vw; */
    position: relative;
    /* right:20px; */
    /* align-items: center; */
    background-image: url('images/about-bg-1xFA19\ \(1\).png');
    background-position: center;
        background-size: cover;
        background-attachment: fixed;
        flex-wrap: wrap;
        object-fit: cover;
        filter: contrast(80%);
        
    
   
    
    
   
}
.menu-container{
    /* border:2px solid blue; */
    /* position:absolute; */
     /* top:0px; */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   position: sticky;
        /* top:0px; */
   
   /* width:75%; */
   /* background-color: rgb(8, 4, 4); */
   /* padding:10px */
    
}
.menu-items{
    /* border:2px solid green; */
    padding:15px;
    padding-top: 30px;
    /* margin-bottom: 10px; */
    color:white;
    /* object-fit: cover; */
    
}


.menu-items a{
    text-decoration: none;
    color:white;
    padding-left: 35px;
}
.menu-items a:hover{
    color:#d27843
}
.menu-items button{
    /* padding-top: 20px; */
    width:100px;
    height:40px;
    border-radius: 5px;
    background-color:#d27843 ;
    color:white
}
.menu-items button:hover{
    background-color:#474646 ;
    color:white
}
.coffee-contnt{
    /* border:2px solid blue; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* width:400px; */
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    /* margin-top: 200px;
    margin-left: 500px; */
   
    /* text-align: center; */
}
.coffee-contnt h2{
    color: aliceblue;
    /* font-size: 70px; */
    
}
/* .main-container2{
    border:2px solid green
} */
.main-container5{
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
}
 .container5-items{
    /* border:2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-around;
    width:500px;
    height:200px;
    text-align: center;
}
.align{
    line-height: 50px;
    margin-left:40%;

}
.align img{
    width:100%;
    height:100%
}
.con5-txt{
    /* border:2px solid green; */
    /* height:40px; */
    /* height:50px;  */
    font-size: 30px;
    
}  
.main-container3{
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:50px;
    background-color:#402218 ;
}
.container3-items{
    /* border:2px solid blue; */
    width:370px;
    color:white;
    line-height: 25px;
}
.container3-items h1{
    line-height: 45px;
}
.main-container2{
    /* border:2px solid red; */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* padding:30px */
    
    
    
}
.container2-items{
    /* border:2px solid blue; */
    /* height:500px; */
    /* margin:20px; */
    padding:35px;
    /* width:500px; */
    /* text-align: center; */
    margin-right: 20px;;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    animation:toptobottom;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: 2; */
    
}

.imgdiv{
        width: 400px;
}
.imgdiv img{
    width: 100%;
}

@keyframes toptobottom{
    0%{
        transform:translateY(-100px);
        opacity:0;
    }
    100%{
        transform:translate(0px);
        opacity: 1;
    }
}





.container2-items img{
    width:100%;
    height:100%;
    
}
.text-items{
    /* border:2px solid green; */
    /* padding:30px; */
    width:500px;
    line-height: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.icon{
    font-size: 40px;
    /* margin:10px; */
    /* height:40px; */
    line-height: 40px;
    color:#d27843;
    /* margin-bottom: 100px;   */
    padding-top: 5px;
}
.font-size{
    font-size: 19px;
    color:black;
    /* border:2px solid red;
    margin-top: 0px;
     */
}
.text-items button{
    border: 2px 2px;
    border-bottom-color:#d27843;
    color:#d27843;
    width:150px;
    height:50px
}
.image{
    width:100px;
    height:100px;
    
}

.main-container11{
    /* border:2px solid red; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:20px;
    margin: 20px 0px;
    background-color: #402218;

}
.min-con11{
    background-color: #402218;
    margin-bottom: 20px;
}
/* .container11-items{
    /* border:2px solid blue
}*/
.con11{
    width:200px;
    height:100px;
}
.main-container12{
    /* border:2px solid red; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    background-color: #402218;
    /* margin:20px; */
    padding:70px
}
.container12-items{
    border-bottom-style:solid;
    border-width: 2px;
    border-bottom-color: white;
    /* width:800px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 40px;
    padding:20px
    
}
.container12-items ul li{
    list-style-type: none;
}
/* .container12-text{
  border:2px solid green 
} */
div a{
    text-decoration: none;
    line-height: 40px;
    color:white;
}
.container12-text h3{
    line-height: 40px;
    color:white;
}
.footer{
    padding-top:30px;
    color:white;
    text-align: center;
}
@media only screen and (max-width:425px){
    .menu-container {
        /* border: 2px solid blue; */
        /* position: absolute; */
        top: 0px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        top: 0px;
        /* width: 75%; */
        /* background-color: rgb(8, 4, 4); */
        /* padding: 10px; */
    }
    .main-container1 {
        /* border: 2px solid red; */
        height: 90vh;
        /* width: 100vw; */
        position: relative; 
        /* right: 20px; */
        /* align-items: center; */
        /* background-image: ; */
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        flex-wrap: wrap;
        object-fit: cover;
        filter: contrast(80%);
    }
    
    

    .menu-items {
        /* border: 2px solid green; */
        padding: 15px;
        padding-top: 0px;
        /* margin-bottom: 10px; */
        color: white;
        /* object-fit: cover; */
    }
    .main-container2 {
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .imgdiv {
        width: 100%;
    }

    .container2-items {
        /* border: 2px solid blue; */
        /* margin: 20px; */
        /* height: 50%; */
        /* width: 500px; */
        /* text-align: center; */
        margin-right: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        animation: toptobottom;
        animation-delay: 2s;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        /* animation-iteration-count: 2; */
    }


    .text-items {
        /* border: 2px solid green; */
        /* padding: 40px; */
        width: 250px;
        /* height: 550px; */
        /* height: 60vh; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px
    }

    /* .green-con {
        height: 100px;
    } */
    /* .container2-items img{
       
    } */
    .position {
        height: 20%;
    }
    .min-con11 {
        background-color: #402218;
        /* margin-bottom: 40px; */
        /* margin-top: 400px; */
    }
    .container12-items {
        border-bottom-style: solid;
        /* border-width: 2px; */
        border-bottom-color: white;
        /* width: 800px; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
        text-align: center
    }

}
    

