



@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Oleo+Script:wght@400;700&display=swap');
*{
    margin:0px;
    padding:0px;
}
/* body{
    background-image: url('/images/bg-2mRdDf.webp');
} */




.main-container1{
    /* border:2px solid red; */
    height:70vh;
    /* width:100vw; */
    /* position: relative; */
    /* right:20px; */
    /* align-items: center; */
    background-image: url('/images/blog-bg-ZACWqh\ \(1\).png');
    background-position: center;
        background-size: cover;
        background-attachment: fixed;
        object-fit: cover;
        filter: contrast(80%);
   
    
    
   
}
.menu-container{
    /* border:2px solid blue; */
    /* position:absolute; */
     top:0px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   position: sticky;
    top:0px
   
   /* width:75%; */
   /* background-color: rgb(8, 4, 4); */
   /* padding:10px */
    
}
.menu-items{
    /* border:2px solid green; */
    padding:15px;
    padding-top: 30px;
    /* margin-bottom: 10px; */
    color:white;
    
    /* object-fit: cover; */
    
}
/* .main-container1 .menu-container .menu-items img{
    width:100%;
    height:100%
} */
.menu-items a{
    text-decoration: none;
    color:white;
    padding-left: 15px;
}
.menu-items a:hover{
    color:#d27843
}
.menu-items button{
    /* padding-top: 20px; */
    width:100px;
    height:40px;
    border-radius: 5px;
    background-color:#d27843 ;
    color:white
}
.menu-items button:hover{
    background-color:#474646 ;
    color:white
}
.coffee-contnt{
    /* border:2px solid blue; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* width:400px; */
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    /* margin-top: 200px;
    margin-left: 500px; */
   
    /* text-align: center; */
}
.coffee-contnt h2{
    color: aliceblue;
    /* font-size: 70px; */
    
}
.main-container5{
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 .container5-items{
    /* border:2px solid blue; */
    display: flex;
    flex-direction:column;
    justify-content:center;
    width:500px;
    height:200px;
    text-align: center;
}
.align{
    line-height: 50px;
    margin-left:150px;
    width:200px;
    margin-bottom:0px;

}
.align img{
    width:100%;
    height:100%
}
.con5-txt{
    /* border:2px solid green; */
    /* height:40px; */
    /* height:50px;  */
    font-size: 50px;
    
}  
.main-container3{
    /* border:2px solid red; */
    display:flex;
    justify-content: space-evenly;
    padding:20px;
    background-color:#f2f1e9 ;
}
/* .container3-items{
    border:2px solid blue;
    width:370px;
    color:white;
    line-height: 25px;
} */
.container3-items h1{
    line-height: 45px;
}
.main-container4{
    /* border:2px solid red; */
    display: flex;
    gap:30px ;
    justify-content: center;
    padding:50px;
    background-color: #f2f1e9;
    flex-wrap: wrap;
    animation:toptobottom;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    /* width:700px;
    height:300px */
    /* height:400px */
}
@keyframes toptobottom{
    0%{
        transform:translateY(-100px);
        opacity:0;
    }
    100%{
        transform:translate(0px);
        opacity: 1;
    }
}
    
/* .container4-items{
    /* border:2px solid blue; 
    width:350px;
    margin-right: 30px;
    
    
} */
.item-text{
    /* border:2px solid green; */
    width:500px;
    /* height:100px; */
    text-align: center;
    line-height: 28px;
    /* color:black;
    background-color: white; */
    /* padding:20px */
    
    
}

.item-text h3{
    font-family: "Oleo Script", system-ui;

}
.item-text img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
.item-text button{
    /* border-radius: 20px; */
    padding:7px;
    width:80px;
    border:0px;
    border-bottom-color: #d27843;
    /* margin-top: 10px; */
}
.text{
    color:black;
    background-color: white;
    padding: 30px;
}
.text button{
    border-color: #d27843;
    color:#d27843
    
}
.border{
    text-decoration: none;
    color:#d27843;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #d27843;
    /* border:2px solid red */
    padding-bottom:10px;
    /* margin-bottom: 40px; */
}
h3+p{
    padding-top: 0px;
}
/* .con4-models{
    display: flex;
    justify-content: space-around;
    
}
.con4-items{
    width:200px
} */


.con5-txt button{
    font-size: 30px;
    padding:20px;
    background-color: #d27843;

}
.con5-txt button:hover{
    background-color: white;
}


.main-container12{
    /* border:2px solid red; */
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: center; */
    background-color: #402218;
    
    /* margin:20px; */
    padding:70px
}
.container12-items{
    border-bottom-style:solid;
    border-width: 2px;
    border-bottom-color: white;
    /* width:800px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 40px;
    padding:20px
    
}
.container12-items ul li{
    list-style-type: none;
}
/* .container12-text{
  border:2px solid green 
} */
div a{
    text-decoration: none;
    line-height: 40px;
    color:white;
}
.container12-text h3{
    line-height: 40px;
    color:white;
}
.footer{
    padding-top:30px;
    color:white;
    text-align: center;
}
@media only screen and (max-width:425px){
    
    .container12-items {
        border-bottom-style: solid;
        /* border-width: 2px; */
        border-bottom-color: white;
        /* width: 800px; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
        text-align: center
    }
}

