


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oleo+Script:wght@400;700&display=swap');

*{
    margin:0px;
    padding:0px;
}
/* body{
    background-image: url('/images/bg-2mRdDf.webp');
} */




.main-container1{
    /* border:2px solid red; */
    height:80vh;
    /* position: relative; */
    /* right:20px; */
    /* align-items: center; */
    background-image: url('images/blog-bg-ZACWqh\ \(1\).png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.menu-container{
    /* border:2px solid blue; */
    /* position:absolute; */
     top:0px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   position: sticky;
    top:0px
    
}
.menu-items{
    /* border:2px solid green; */
    padding:15px;
    padding-top: 30px;
    /* margin-bottom: 10px; */
    color:white;
}
.menu-items p{
    font-family: "Oleo Script", system-ui;

}
.menu-items a{
    text-decoration: none;
    color:white;
    padding-left: 15px;
}
.menu-items a:hover{
    color:#d27843
}
.menu-items button{
    /* padding-top: 20px; */
    width:100px;
    height:40px;
    border-radius: 5px;
    background-color:#d27843 ;
    color:white
}
.menu-items button:hover{
    background-color:#474646 ;
    color:white
}

.coffee-contnt{
    /* border:2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:400px;
    position:absolute;
    top:10px;
    margin-top: 140px;
    margin-left: 100px;
}
.coffee-contnt h2{
    font-size: 50px;
}
.coffee-contnt p{
    text-align: center;
}
.main-container2{
    /* border:2px solid red; */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:40px;
    
    
    
}
.container2-items{
    /* border:2px solid blue; */
    /* margin-left: 10px; */
    height:600px;
    width:500px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    
}
.container2-items img{
    width:100%;
    height:100%;
    
}
.text-items{
    /* border:2px solid green; */
    padding-top:30px;
    width:500px;
    line-height: 30px;
    
}
.text-items h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.text-items p{
    font-family: "Oleo Script", system-ui;
}
.text-items button{
    border: 2px 2px;
    border-bottom-color:#d27843;
    color:#d27843;
    width:150px;
    height:50px
}
.image{
    width:100px;
    height:100px;
    
}
.main-container3{
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:50px;
    background-color:#402218 ;
    
    /* position: sticky;
    top:0px */
}
.container3-items{
    /* border:2px solid blue; */
    width:370px;
    color:white;
    line-height: 25px;
}
.container3-items p{
    font-family: "Dancing Script", cursive;
}
.container3-items h1{
    line-height: 45px;
}
.main-container4{
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:50px;
    background-color: #402218;
    
    
}
    
.container4-items{
    /* border:2px solid blue; */
    width:320px;
    margin-right: 30px;
    /* filter:opacity(0.5);
    transition:all 1s  ease-in-out */
    
}
/* .container4-items:hover{
    filter:opacity(1);
    transform:scale(0.9,0.9)
} */
.item-text{
    /* border:2px solid green; */
    width:300px;
    height:200px;
    text-align: center;
    line-height: 28px;
    
}
.item-text img{
    width:100%;
    height:100%;
    filter:opacity(0.5);
    transition:all 1s  ease-in-out
}
.item-text img:hover{
    filter:opacity(1);
    transform:scale(0.9,0.9)
}

.item-text button{
    border-radius: 15px;
    padding:7px;
    width:80px;
    margin-top: 10px;
}
.text{
    color:black;
    background-color: white;
    padding: 13px;
}
.text button{
    border-color: #d27843;
    color:#d27843
    
}
.main-container5{
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex-wrap: wrap;
    padding: 0px 50px
    /* padding-left: 150px; */
    
    /* text-align: center; */
    
}
.container5-items {
    /* border: 2px solid blue; */
    /* width: 400px; */
    text-align: center;
    margin-top: 10px;
    /* margin-left: auto; */
}
.container5-items h1{
    text-align: center;
}
.container5-items p{
    text-align: center;
}
.align{
    line-height: 50px;
    /* margin-left:40%; */

}
.align img{
    width:100%;
    height:100%
}
.con5-txt{
    /* border:2px solid green; */
    /* height:40px; */
    height:50px;
    font-size: 17px;
    margin-left: 43%;
    margin-top: 10px;
    
}
.main-container6 {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    margin-top: 20px;
    margin-right: 100px;
    animation: toptobottom;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;

}
@keyframes toptobottom{
    0%{
        transform:translateY(-100px);
        opacity:0;
    }
    100%{
        transform:translate(0px);
        opacity: 1;
    }
}



.container6-items {
    /* border: 2px solid blue; */
    /* width: 50vw; */
    /* margin-left: 0px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Oleo Script", system-ui;
}
.con6-img{
    /* border:2px solid green; */
    width:150px;
    border-radius: 60px;
}
.con6-img img{
    width:100%;
    height:100%
}
.para{
    margin-left: 40px;
}
.main-container7{
    /* border:2px solid red; */
    text-align: center;
    padding:30px
}
.main-container7 button{
    padding:10px 20px;
    background-color: #d27843;
    color:white;
    border-radius: 5px;
}
.main-container7 button:hover{
    background-color: black;
    color:white
}
.main-container8{
    /* border:2px solid red; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #402218;
    margin-bottom: 50px;
   
    /* transition:all 1s 3s ease-in-out; */

}
.container8-items{
    /* border:2px solid blue; */
    width:600px;
    filter:opacity(0.5);
    transition:all 1s  ease-in-out;
    
    /* filter: opacity(0.5);
    transition: all 1s ease-in-out; */

    
    /* transform: scale(2,2); */
}
.container8-items:hover{
    filter:opacity(1);
    transform:scale(0.9,0.9);
    ;
}
/* .container8-items:hover{
    /* transform: scale(2,2); 
    filter: opacity(1);
  transform: scale(0.9,0.9);
} */

.container8-items img{
    width:100%;
    height:100%;
    /* filter: opacity(1);
   */
}
/* .container8-items img:hover{
    filter: opacity(1);
  transform: scale(0.9,0.9);
} */
.main-container9{
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    background-color: #402218;
    color:white;
    padding:40px

}
.container9-items{
    /* border:2px solid blue; */
    width:500px;
    margin-right: 50px;
}
.con9-align{
    /* border:2px solid green; */
    margin-top: 20px;
}
.con9-align p{
    line-height: 25px;
    font-family: "Dancing Script", cursive;
}
.main-container10{
    background-color: white;
    /* color:black */
}
.bgclr{
    background-color:white ;
}
.min-con11{
    background-color: #402218;
    margin-bottom: 20px;
}
.main-container11{
    /* border:2px solid red; */
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding:20px;
    margin: 20px 0px;
    background-color: #402218;

}
/* .container11-items{
    border:2px solid blue
} */
.con11{
    width:200px;
    height:100px;
}
.main-container12{
    /* border:2px solid red; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    background-color: #402218;
    /* margin:20px; */
    padding:70px
}
.container12-items{
    border-bottom-style:solid;
    border-width: 2px;
    border-bottom-color: white;
    /* width:800px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 40px;
    padding:20px
    
}
.container12-items ul li{
    list-style-type: none;
}
/* .container12-text{
  border:2px solid green 
} */
div a{
    text-decoration: none;
    line-height: 40px;
    color:white;
}
.container12-text h3{
    line-height: 40px;
    color:white;
}
.footer{
    padding-top:30px;
    color:white;
    text-align: center;
}


#check {
    display: none;
}

.bar {
    display: none;
}
@media only screen and (max-width:425px){

    .main-container1 {
        /* border: 2px solid red; */
        height: 130vh;
        /* position: relative; */
        /* right: 20px; */
        /* align-items: center; */
        background-image: url(/images/bg-2mRdDf.webp);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    .menu-container {
        /* border: 2px solid blue; */
        /* position: absolute; */
        top: 0px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .coffee-contnt {
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        width: 400px;
        position: absolute;
        top: 30%;
        /* margin-top: 140px; */
        margin-left: 0px;
    }
    
    .hide {
        display: none;
    }

    .bar {
        margin-top: 40px;
    }

    input[type] {
        display: none;
    }

    .menu-label {
        display: block;
    }

    #check:checked+.menu-label+.hide {
        display: block;
    }
    .menu-items {
        /* border: 2px solid green; */
        padding: 15px;
        padding-top: 30px;
        /* margin-bottom: 10px; */
        color: white;
        text-align: center;
    }
    .main-container2 {
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .container2-items {
        /* border: 2px solid blue; */
        /* margin: 20px; */
        /* height: 30%; */
        /* width: 500px; */
        /* text-align: center; */
        margin-right: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        animation: toptobottom;
        animation-delay: 2s;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        /* animation-iteration-count: 2; */
    }
    .text-items {
        /* border: 2px solid green; */
        /* padding-top: 30px; */
        width: 300px;
        /* line-height: 30px; */
        text-align: center;
    }
    .image {
        width: 100px;
        height: 100px;
        /* text-align: center; */
        margin-left: 90px;
    }
    .main-container3 {
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* background-color: #402218; */
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-top: 200px;
    }

    .container3-items {
        /* border: 2px solid blue; */
        width: 370px;
        color: black;
        line-height: 25px;
        margin-top: 80px;
        background-color: #402218;
        color: white;
        margin-top: 70px;
    }
    .main-container4 {
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #402218;
        padding-bottom: 30px;
    }
    .container5-items {
        /* border: 2px solid blue; */
        width: 450px;
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
    }
    .container5-items {
        /* border: 2px solid blue; */
        /* width: 450px; */
        text-align: center;
        margin-left: 0px;
        margin-top: 10px;
    }
    .container5-items {
        /* border: 2px solid blue; */
        width: 350px;
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
    }
    .con5-txt {
        /* border: 2px solid green; */
        /* height: 40px; */
        height: 50px;
        font-size: 17px;
        /* text-align: center; */
        margin-left: 30%;
        line-height: 60px;
    }
    .con5-txt img{
        line-height: 50px;
        /* margin-left: 0%; */
        /* text-align: center;*/
    }

    .align {
        line-height: 50px;
        margin-left: 40%;
    }
    .main-container6 {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: auto;
        margin-top: 20px;
        margin-right: 100px;
        animation: toptobottom;
        animation-delay: 3s;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
    }


    .container6-items {
        /* border: 2px solid blue; */
        /* width: 400px; */
        margin-left: 50px;
        display: flex;
        justify-content: space-around;
        font-family: "Oleo Script", system-ui;
    }
    .con6-img {
        /* border: 2px solid green; */
        /* width: 150px; */
        border-radius: 60px;
        margin-left: 50px;
    }
    
    .main-container8 {
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        /* transition: all 1s 3sease-in-out; */
    }
    .min-con11 {
        background-color: #402218;
        /* margin-bottom: 40px; */
        /* margin-top: 400px; */
    }

    .container12-items {
        border-bottom-style: solid;
        border-width: 2px;
        border-bottom-color: white;
        /* width: 800px; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
    }


}



